<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <iframe src="https://springapp.trainingplan.com" width="90%" width="360px" height="740px"></iframe>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, iniital-scale=1.0">
    <title>Mobile View BA</title>
    <p><Gymn Beach Avnue Screen<p>
    <title>Mobile View Buffalo Sea </title>
    <p>Gym Bufalo Sea </p>
 </head>
 <body>
        <h2 th:text="${message}">Fit Gymastics Yoga <h2><br>
        <h2 th:text="${message}">Muay Thai Basic <h2><br>
        <h2 th:text="${message}">Muay Thai Intermediate <h2><br>
        <h2 th:text="${message}">Muay Thai Advanced <h2><br>
        <h2 th:text="${message}">Hyrox Strength Training  <h2><br>
        <h2 th:text="${message}">Hyrox Cardio Training <h2><br>
        <h2 th:text="${message}">Triathlon Training <h2><br>
        <h2 th:text="${message}">Spin Class <h2><br> 