<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <iframe src="https://springapp.trainingplan.com" width="90%" width="360px" height="740px"></iframe>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, iniital-scale=1.0">
    <title>Mobile View BA</title>
    <p>Gymn Beach Avnue Screen<p>
    <title>Mobile View Buffalo Sea </title>
    <p>Gym Bufalo Sea </p>
 </head>
 <body>
        <h2 th:text="${message}">Monday Training message program </h2><br>
        <h2 th:text="${message}">Tuesday Training message program</h2><br>
        <h2 th:text="${message}">Wednesday Training message program </h2><br>
        <h2 th:text="${message}">Thursday Training message program <h2><br>
        <h2 th:text="${message}">Friday Training message program <h2><br>
        <h2 th:text="${message}">Saturday Training message program <h2><br>
        <h2 th:text="${message}">Sunday Training message program <h2><br> 
 </body>

